
<div class="card h-100" style="width: 20rem">
  {% if messages %}
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
  <div class="card-header">
    <span class="h6">{{ tip.timestamp|date:'M d Y' }}</span>
    <span class="h6">{{ tip.tags.all|join:', ' }}</span>
  </div>
  <div class="card-body">
  <details>
    <summary><h6>{{ tip }}</h6></summary>
    <p class="card-text">{{ tip.tip|truncatewords:'20'|cut:'>>>'|urlizetrunc:'20' }}</p>
  </details>
  </div>
  <div class="card-footer">
    <h5>Links</h5>
    <div class="d-flex bd-highlight">
      <div class="flex-fill">
        {% for link in tip.links_set.all %}
          <a href="{{ link.name }}" class="card-link">Link{{ forloop.counter }}</a>
          {% empty %}
            <span>No Links</span>
      {% endfor %}
      </div>
      <div class="d-flex justify-content-end">
        <a href="{{tip.get_absolute_url}}" class="btn-sm btn-outline-success bg-dark">Read</a>
        <a href="{% url 'tips:like' tip.pk %}" class="btn-sm btn-outline-primary bg-dark">like</a>
      </div>

    </div>
  </div>
</div>